In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Path to the csv
path="../aus_weather/weatherAUS.csv"
# Reading csv ->df
df_aus_weather=pd.read_csv(path)
df_aus_weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [3]:
#Display the columns in the dataset
df_aus_weather.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [4]:
#DF info
df_aus_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
Date             142193 non-null object
Location         142193 non-null object
MinTemp          141556 non-null float64
MaxTemp          141871 non-null float64
Rainfall         140787 non-null float64
Evaporation      81350 non-null float64
Sunshine         74377 non-null float64
WindGustDir      132863 non-null object
WindGustSpeed    132923 non-null float64
WindDir9am       132180 non-null object
WindDir3pm       138415 non-null object
WindSpeed9am     140845 non-null float64
WindSpeed3pm     139563 non-null float64
Humidity9am      140419 non-null float64
Humidity3pm      138583 non-null float64
Pressure9am      128179 non-null float64
Pressure3pm      128212 non-null float64
Cloud9am         88536 non-null float64
Cloud3pm         85099 non-null float64
Temp9am          141289 non-null float64
Temp3pm          139467 non-null float64
RainToday        140787 non-null object
RISK_MM          142193 non-null float64
RainTomorrow     142193 non-null object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [5]:
#Drop records that have any null values
df_aus_weather.dropna(inplace=True)

In [6]:
#Reset Index
df_aus_weather.reset_index(drop=True,inplace=True)

In [7]:
#DF info
df_aus_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 24 columns):
Date             56420 non-null object
Location         56420 non-null object
MinTemp          56420 non-null float64
MaxTemp          56420 non-null float64
Rainfall         56420 non-null float64
Evaporation      56420 non-null float64
Sunshine         56420 non-null float64
WindGustDir      56420 non-null object
WindGustSpeed    56420 non-null float64
WindDir9am       56420 non-null object
WindDir3pm       56420 non-null object
WindSpeed9am     56420 non-null float64
WindSpeed3pm     56420 non-null float64
Humidity9am      56420 non-null float64
Humidity3pm      56420 non-null float64
Pressure9am      56420 non-null float64
Pressure3pm      56420 non-null float64
Cloud9am         56420 non-null float64
Cloud3pm         56420 non-null float64
Temp9am          56420 non-null float64
Temp3pm          56420 non-null float64
RainToday        56420 non-null object
RISK_MM          56420 non-null float64
RainTomorrow     56420 non-null object
dtypes: float64(17), object(7)
memory usage: 10.3+ MB

In [8]:
#Drop the unnecessary columns
df_aus_weather = df_aus_weather.drop(['Date', 'Location','RISK_MM','WindDir9am', 'WindDir3pm'], axis=1)
df_aus_weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,17.9,35.2,0.0,12.0,12.3,SSW,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,18.4,28.9,0.0,14.8,13.0,S,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,19.4,37.6,0.0,10.8,10.6,NNE,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,21.9,38.4,0.0,11.4,12.2,WNW,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,24.2,41.0,0.0,11.2,8.4,WNW,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [9]:
df_aus_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 19 columns):
MinTemp          56420 non-null float64
MaxTemp          56420 non-null float64
Rainfall         56420 non-null float64
Evaporation      56420 non-null float64
Sunshine         56420 non-null float64
WindGustDir      56420 non-null object
WindGustSpeed    56420 non-null float64
WindSpeed9am     56420 non-null float64
WindSpeed3pm     56420 non-null float64
Humidity9am      56420 non-null float64
Humidity3pm      56420 non-null float64
Pressure9am      56420 non-null float64
Pressure3pm      56420 non-null float64
Cloud9am         56420 non-null float64
Cloud3pm         56420 non-null float64
Temp9am          56420 non-null float64
Temp3pm          56420 non-null float64
RainToday        56420 non-null object
RainTomorrow     56420 non-null object
dtypes: float64(16), object(3)
memory usage: 8.2+ MB

In [10]:
df_aus_weather.shape

(56420, 19)

In [11]:
df_aus_weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,17.9,35.2,0.0,12.0,12.3,SSW,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
1,18.4,28.9,0.0,14.8,13.0,S,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
2,19.4,37.6,0.0,10.8,10.6,NNE,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
3,21.9,38.4,0.0,11.4,12.2,WNW,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
4,24.2,41.0,0.0,11.2,8.4,WNW,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [12]:
# Use get_dummies to convert categorical data (columns - RainToday and RainTomorrow)
bin_encoded_rtod=pd.get_dummies(df_aus_weather["RainToday"],drop_first=True)
bin_encoded_rtom=pd.get_dummies(df_aus_weather["RainTomorrow"],drop_first=True)
df_aus_weather["RainToday"]=bin_encoded_rtod
df_aus_weather["RainTomorrow"]=bin_encoded_rtom

In [13]:
#Verify if RainToday and RainTomorrow are encoded
df_aus_weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,17.9,35.2,0.0,12.0,12.3,SSW,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0
1,18.4,28.9,0.0,14.8,13.0,S,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0
2,19.4,37.6,0.0,10.8,10.6,NNE,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0
3,21.9,38.4,0.0,11.4,12.2,WNW,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0
4,24.2,41.0,0.0,11.2,8.4,WNW,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0

In [14]:
df_aus_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56420 entries, 0 to 56419
Data columns (total 19 columns):
MinTemp          56420 non-null float64
MaxTemp          56420 non-null float64
Rainfall         56420 non-null float64
Evaporation      56420 non-null float64
Sunshine         56420 non-null float64
WindGustDir      56420 non-null object
WindGustSpeed    56420 non-null float64
WindSpeed9am     56420 non-null float64
WindSpeed3pm     56420 non-null float64
Humidity9am      56420 non-null float64
Humidity3pm      56420 non-null float64
Pressure9am      56420 non-null float64
Pressure3pm      56420 non-null float64
Cloud9am         56420 non-null float64
Cloud3pm         56420 non-null float64
Temp9am          56420 non-null float64
Temp3pm          56420 non-null float64
RainToday        56420 non-null uint8
RainTomorrow     56420 non-null uint8
dtypes: float64(16), object(1), uint8(2)
memory usage: 7.4+ MB

In [15]:
#Use Pandas get_dummies to convert categorical data
df_aus_weather=pd.get_dummies(df_aus_weather)
df_aus_weather.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindGustDir_NNW,WindGustDir_NW,WindGustDir_S,WindGustDir_SE,WindGustDir_SSE,WindGustDir_SSW,WindGustDir_SW,WindGustDir_W,WindGustDir_WNW,WindGustDir_WSW
0,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,...,0,0,0,0,0,1,0,0,0,0
1,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,...,0,0,1,0,0,0,0,0,0,0
2,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,...,0,0,0,0,0,0,0,0,0,0
3,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,...,0,0,0,0,0,0,0,0,1,0
4,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
#Export Pre processed Data
df_aus_weather.to_csv("preprocessed_data.csv")

# Machine Learning

In [17]:
#Import Dependencies
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [18]:
df_aus_weather["RainTomorrow"]

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       1
18       0
19       0
20       1
21       1
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
56390    0
56391    0
56392    0
56393    0
56394    0
56395    0
56396    0
56397    0
56398    0
56399    0
56400    0
56401    0
56402    0
56403    0
56404    0
56405    0
56406    0
56407    0
56408    0
56409    0
56410    0
56411    0
56412    0
56413    0
56414    0
56415    0
56416    0
56417    0
56418    0
56419    0
Name: RainTomorrow, Length: 56420, dtype: uint8

In [19]:
#Assign X and y values
X=df_aus_weather.drop("RainTomorrow",axis=1)
y=df_aus_weather["RainTomorrow"].values.reshape(-1,1)
print(X.shape,y.shape)
y

(56420, 33) (56420, 1)

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)

In [20]:
#Split the data into training and testing 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

In [21]:
#Scale or Normalize data
from sklearn.preprocessing import StandardScaler
#Create a StandardScalar model and fit it to the training data
X_scaler=StandardScaler().fit(X_train)
y_scaler=StandardScaler().fit(y_train)

In [22]:
#Transform the training and testing data using the X_scaler 
#Since the features are measured from different scales, appling featruring scaling
X_train_scaled=X_scaler.transform(X_train)
X_test_scaled=X_scaler.transform(X_test)
y_train_scaled=y_scaler.transform(y_train)
y_test_scaled=y_scaler.transform(y_test)

# Create Logistic Regression Model

### Without using scaled data

In [23]:
from sklearn.linear_model import LogisticRegression
classifier_nscaled=LogisticRegression()
classifier_nscaled

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
#Fit(train) the model using the non scaled training data
classifier_nscaled.fit(X_train,y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [25]:
#Validate the model using the test data
print(f"Training Data Score: {classifier_nscaled.score(X_train,y_train)}")
print(f"Testing Data Score: {classifier_nscaled.score(X_test,y_test)}")

Training Data Score: 0.8529599432825239
Testing Data Score: 0.8531726338177951

### Using Scaled Data

In [26]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
#To fix ValueError: Unknown label type: â€˜continuousâ€™ , for y classifier. fit expects int not float
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
y_train_scaled_encoded = lab_enc.fit_transform(y_train_scaled)
print(y_train_scaled_encoded)
print(utils.multiclass.type_of_target(y_train_scaled_encoded))
print(utils.multiclass.type_of_target(y_train_scaled_encoded.astype('int')))
print(utils.multiclass.type_of_target(y_train_scaled_encoded))

[0 0 0 ... 0 0 0]
binary
binary
binary

//anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [28]:
#To fix ValueError: Unknown label type: â€˜continuousâ€™ , for y_train classifier. fit expects int not float
from sklearn import preprocessing
from sklearn import utils
lab_enc = preprocessing.LabelEncoder()
y_test_scaled_encoded = lab_enc.fit_transform(y_test_scaled)
print(y_test_scaled_encoded)
print(utils.multiclass.type_of_target(y_test_scaled_encoded))
print(utils.multiclass.type_of_target(y_test_scaled_encoded.astype('int')))
print(utils.multiclass.type_of_target(y_test_scaled_encoded))

[1 0 0 ... 0 0 0]
binary
binary
binary

In [29]:
#Fit(train) the model using the scaled training data
classifier.fit(X_train_scaled,y_train_scaled_encoded)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
#Validate the model using the test data
print(f"Training Data Score: {classifier.score(X_train_scaled,y_train_scaled_encoded)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled,y_test_scaled_encoded)}")

Training Data Score: 0.8537161762968215
Testing Data Score: 0.8554413328606877

# Feature importance in Logistic Regression using weights

In [31]:
# Extract Column Names
col_names=X.columns.tolist()
col_names

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Cloud9am',
 'Cloud3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'WindGustDir_E',
 'WindGustDir_ENE',
 'WindGustDir_ESE',
 'WindGustDir_N',
 'WindGustDir_NE',
 'WindGustDir_NNE',
 'WindGustDir_NNW',
 'WindGustDir_NW',
 'WindGustDir_S',
 'WindGustDir_SE',
 'WindGustDir_SSE',
 'WindGustDir_SSW',
 'WindGustDir_SW',
 'WindGustDir_W',
 'WindGustDir_WNW',
 'WindGustDir_WSW']

In [32]:
# Print the coefficients
print(classifier.coef_[0])

[-2.87262412e-01  1.18235950e-01  5.41720559e-02  2.38532055e-04
 -5.53807201e-01  7.91066900e-01 -9.12525042e-02 -2.32748326e-01
  3.23786473e-02  1.17668697e+00  1.00117258e+00 -1.38033095e+00
 -4.64086544e-02  2.93834736e-01  2.22863642e-01  3.76025282e-02
  2.04547886e-01 -4.45663306e-02 -5.29595139e-02 -1.42197688e-02
 -3.46123533e-02 -1.86475706e-02  1.01596390e-02  1.73964696e-02
  3.19725117e-02 -2.28618335e-02 -9.13791049e-03  7.60549332e-03
  5.02808764e-03  2.76206501e-02  2.65180960e-02  5.65862521e-02
  3.28082280e-02]

In [33]:
# Print the absolute weights
weights = classifier.coef_[0]
abs_weights = np.abs(weights)
print(abs_weights)

[2.87262412e-01 1.18235950e-01 5.41720559e-02 2.38532055e-04
 5.53807201e-01 7.91066900e-01 9.12525042e-02 2.32748326e-01
 3.23786473e-02 1.17668697e+00 1.00117258e+00 1.38033095e+00
 4.64086544e-02 2.93834736e-01 2.22863642e-01 3.76025282e-02
 2.04547886e-01 4.45663306e-02 5.29595139e-02 1.42197688e-02
 3.46123533e-02 1.86475706e-02 1.01596390e-02 1.73964696e-02
 3.19725117e-02 2.28618335e-02 9.13791049e-03 7.60549332e-03
 5.02808764e-03 2.76206501e-02 2.65180960e-02 5.65862521e-02
 3.28082280e-02]

In [34]:
feature_weights=sorted(zip(weights,col_names),reverse = True)
feature_weights

[(1.1766869681229273, 'Humidity3pm'),
 (1.0011725835452618, 'Pressure9am'),
 (0.7910669003427311, 'WindGustSpeed'),
 (0.29383473570807855, 'Cloud3pm'),
 (0.22286364194885297, 'Temp9am'),
 (0.20454788615577238, 'RainToday'),
 (0.1182359500230043, 'MaxTemp'),
 (0.05658625211620731, 'WindGustDir_WNW'),
 (0.05417205587067859, 'Rainfall'),
 (0.03760252821928037, 'Temp3pm'),
 (0.03280822802448605, 'WindGustDir_WSW'),
 (0.032378647316795336, 'Humidity9am'),
 (0.03197251170238276, 'WindGustDir_NW'),
 (0.027620650090417625, 'WindGustDir_SW'),
 (0.02651809599684264, 'WindGustDir_W'),
 (0.017396469554989642, 'WindGustDir_NNW'),
 (0.010159638968155154, 'WindGustDir_NNE'),
 (0.007605493318835475, 'WindGustDir_SSE'),
 (0.005028087639740775, 'WindGustDir_SSW'),
 (0.00023853205459281048, 'Evaporation'),
 (-0.009137910493491462, 'WindGustDir_SE'),
 (-0.014219768798379911, 'WindGustDir_ESE'),
 (-0.018647570639426087, 'WindGustDir_NE'),
 (-0.022861833451043256, 'WindGustDir_S'),
 (-0.03461235334394988, 'WindGustDir_N'),
 (-0.04456633056737236, 'WindGustDir_E'),
 (-0.04640865438888595, 'Cloud9am'),
 (-0.05295951389420977, 'WindGustDir_ENE'),
 (-0.0912525041534822, 'WindSpeed9am'),
 (-0.23274832639385776, 'WindSpeed3pm'),
 (-0.2872624116825397, 'MinTemp'),
 (-0.5538072011239831, 'Sunshine'),
 (-1.380330951955302, 'Pressure3pm')]